p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin: 0;
}

.thumbnail {
    width: 100%;
}

.video-title {
    margin-top: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
    
}

.channel-image {
    width: 40px;
    border-radius: 50px;
}

.thumbnail-row {
    margin-bottom: 12px;
}

.video-Info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}

.header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-bar {
    font-size: 20px;
    display: block;
}

.left-header {
    background-color: lightblue;
    width: 150px;
}
.middle-header {
    margin-left: 60px;
    margin-right: 35px;
    background-color: lightpink;
    flex: 1;
    max-width: 500px;
    
}
.right-header {
    background-color: lightblue;
    width: 200px;
}