body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    padding: 20vh;
}

.todo-container {
    width: 300px;
    padding: 10px 20px;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
}

.todo-Header {
    color: white;
}

.Todo-Item {
    display: flex;
    justify-content: space-between;
    color: white;
}

.todo-item-text {
    margin-left: 5px;

}

.todo-button {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}   